body {
  background-color: rgb(236, 235, 235);
}
/* Header style
=========================== */

.logo-header {
  margin-left: 15px;
}
.background-color {
  background: linear-gradient(to right, white 1%, #fd6913 70%);
}

/* Navigation Styles*/
/* --- menu --- */
.navbar-text-style a {
  color: white;
  font-family: 'gothic';
  font-weight: bold;
}

#active {
  width: 80px;
  background-color: #fd6913;
  border-radius: 45%;
}
.brand-name-style {
  font-size: 22px;
  font-family: 'JFFlat';
  color: rgb(115, 115, 115);
  line-height: 1.25;
  text-align: left;
  position: absolute;
  left: 210px;
  top: -5px;
}
.navbar img {
  margin-left: -20px;
  margin-top: -10px;
}
.icon-color
{
background-color: rgb(4, 85, 114);
}
/* Intro
=========================== */
.intro-content h2 {
  font-family: 'Century Gothic';
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  top: 140px;
  left: 0;
  right: 0;
}
.parallax-intro {
  /* The image used */
  width: 100%;
  height: 40vh;

  background-image: url(../images/introimage.png);
  position: relative;
  background-color: rgb(4, 85, 114);
  background-size: 100% 60%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 80px;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
/* @media only screen and (max-device-width: 1000px) {
    .parallax-intro{
      background-attachment: scroll;
    }
  } */
.span-color {
  color: #f87021;
}

/* who we are section 
=========================== */

.Info-icon {
  width: 40%;
  position: relative;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
}
.media-left,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.col .media-left img {
  margin-top: 10px;
}

.media-body h4 {
  font-size: 20px;
  font-family: 'Century Gothic';
  color: rgb(242, 112, 36);
  font-weight: bold;
}

.media-body p {
  font-size: 16px;
  font-family: 'Century Gothic';
  color: rgb(64, 64, 64);
}

.media-body {
  overflow: hidden;
  margin-top: 15px;
  width: 70%;
  text-align: left;
}
.spaing-bottom {
  margin-bottom: 120px;
}
.spaing-justify {
  margin-top: -50px;
}
.our-values ul {
  list-style-type: none;
}
.our-values li::before {
  content: '•   ';
  color: #fd6913;
}
.read-more {
  font-family: 'Century Gothic';
  border-radius: 20px;
  background-color: #fd6913;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, 90%);
  width: 160px;
}
/* our training
=========================== */

.card-style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  margin-top: -20px;
}
.card-text-syle {
  font-size: 40px;
  font-family: 'Century Gothic';
  color: rgb(0, 68, 92);
  font-weight: bold;
  text-align: center;
}
.card-text {
  font-size: 17px;
  text-align: left;
  font-family: 'Century Gothic';
  color: rgb(64, 64, 64);
}
.training-title,
.training-title h1 {
  text-align: center;
  color: rgb(0, 68, 92);
  font-weight: bold;
  font-size: 60px;
  font-family: 'Century Gothic';
}

@media (max-width: 575.98px) {
  .logo-header {
    width: 75px;
  }

  .brand-name-style 
  {
    font-size: 20px;
    position: absolute;
   
    left: 85px;
  }
  .training-title h1 {
    font-size: 40px;

  }
.training-title img {
  width: 120px;
  margin-bottom: 20px;
}
}
#span1 {
  color: #fd6913;
  font-size: 60px;
  font-family: 'Century Gothic';
  font-weight: bold;
}
.box {
  /*margin-bottom: 85px;*/
  font-family: 'gothic';
  color: rgb(0, 68, 92);
  font-size: 25px;
  outline: 1px solid rgb(238, 238, 238);
  max-width: 870px;
  margin-left: 10%;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 50px;
}
#span2 {
  color: #fd6913;
  font-size: 25px;
  font-family: 'gothic';
}

.sidiv {
  position: relative;
  top: calc(50%);
  left: calc(15%);
}

.sidiv::after {
  position: absolute;
  content: '';
  align-items: center;
  top: -90px;
  width: 0px;
  height: 0px;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 100px solid white;
}

#Business-readmore {
  font-size: 16px;
  font-family: 'Century Gothic';
  background-color: white;
  color: rgb(0, 68, 92);
  padding: 8px 12px;
  outline: 1px solid rgb(0, 68, 92);
  max-width: 200px;
}

/* map  style
=========================== */

#gmap {
  border: 7px solid #fff;
  background-color: #00445c;
  border-radius: 50%;
  max-width: 105px;
  padding: 15px 35px;
  margin-bottom: 0px;
  position: relative;
  top: -60px;
  left: 45%;
}
#gmap-i {
  color: #fff;
  position: relative;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -10%);
}

#gmap-hr {
  margin-top: -100px;
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid #00445c;
  width: 60%;
  margin-left: 20%;
}
@media (max-width: 575.98px) {
  #gmap {
    position: relative;
    left: 37%;
  }
}
/* footer style
=========================== */
.logo-footer {
  padding-left: 70%;
}

.footer {
  overflow: hidden;
  background-color: rgb(0, 68, 92);
}
.footer a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

a.content {
  font-size: 20px;
  font-weight: bold;
  max-width: 70%;
  text-align: center;
  color: white;
}

.footer-right {
  float: right;
  margin-right: 20px;
}

/* media query styles
=========================== */

/* ////////////////////////////////////////////////////////////////////////////////// */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .sidiv {
    position: relative;
    top: calc(50%);
    left: calc(-30px);
  }
  .sidiv::after {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 0px solid white;
  }
 
  }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sidiv {
    position: relative;
    top: calc(50%);
    left: calc(-30px);
  }
  .sidiv::after {
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1000.98px) {
  .sidiv {
    position: relative;
    top: calc(50%);
    left: calc(-55px);
  }
  .sidiv::after {
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  }
 
}

@media (min-width: 10001px) and (max-width: 1330px) {
  .sidiv {
    position: relative;
    top: calc(50%);
    left: calc(150px);
  }
}
